flows.json
[
    {
        "id": "41f61d2.fbe09e4",
        "type": "tab",
        "label": "Flow 1"
    },
    {
        "id": "52a903f3.ad56fc",
        "type": "ui_tab",
        "z": "41f61d2.fbe09e4",
        "name": "Home",
        "icon": "dashboard"
    },
    {
        "id": "30e652f.d9de3ae",
        "type": "ui_group",
        "z": "41f61d2.fbe09e4",
        "name": "Panel 2",
        "tab": "52a903f3.ad56fc",
        "order": 3,
        "disp": true,
        "width": "6"
    },
    {
        "id": "a8ecb9.c60f4348",
        "type": "ui_group",
        "z": "41f61d2.fbe09e4",
        "name": "Introduction",
        "tab": "52a903f3.ad56fc",
        "order": 1,
        "disp": false,
        "width": "3"
    },
    {
        "id": "bbdf3e02.e8fee",
        "type": "ui_group",
        "z": "41f61d2.fbe09e4",
        "name": "Panel 1",
        "tab": "52a903f3.ad56fc",
        "order": 2,
        "disp": true,
        "width": "6"
    },
    {
        "id": "d9ba26fa.6d2b18",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#8e0d17",
                "baseFont": "Copperplate,Copperplate Gothic Light,fantasy",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "Helvetica Neue",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "Helvetica Neue"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#d80005",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#8e0d17",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#000000",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#d41322",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#8e0d17",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "Copperplate,Copperplate Gothic Light,fantasy"
                }
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "87356b62.92e3d8",
        "type": "ui_group",
        "name": "Text to Speech",
        "tab": "52a903f3.ad56fc",
        "order": 5,
        "disp": true,
        "width": "6"
    },
    {
        "id": "c75ad4f0.0cede8",
        "type": "ui_group",
        "name": "Map",
        "tab": "52a903f3.ad56fc",
        "order": 4,
        "disp": true,
        "width": "6"
    },
    {
        "id": "189cf871.681118",
        "type": "ui_template",
        "z": "41f61d2.fbe09e4",
        "group": "a8ecb9.c60f4348",
        "name": "Welcome",
        "order": 1,
        "width": "3",
        "height": "9",
        "format": "<h3>Welcome to the <font color=\"#CE2020\">Node-RED</font> Dashboard</h3>\n<p>On the right you will see a graph and a chart logging data from the sliders underneath.</p>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "x": 100,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "9f19ee5c.beaef",
        "type": "ui_chart",
        "z": "41f61d2.fbe09e4",
        "name": "",
        "group": "bbdf3e02.e8fee",
        "order": 1,
        "width": "0",
        "height": "0",
        "label": "",
        "chartType": "line",
        "xformat": "HH:mm:ss",
        "interpolate": "basis",
        "nodata": "No Data",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": "",
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 2,
        "x": 270,
        "y": 200,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "799d9318.fd385c",
        "type": "ui_gauge",
        "z": "41f61d2.fbe09e4",
        "name": "",
        "group": "30e652f.d9de3ae",
        "order": 2,
        "width": "",
        "height": "",
        "gtype": "gage",
        "title": "Title",
        "label": "gauge",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "x": 270,
        "y": 140,
        "wires": []
    },
    {
        "id": "6f18b200.666a4",
        "type": "ui_button",
        "z": "41f61d2.fbe09e4",
        "name": "",
        "group": "87356b62.92e3d8",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "press to talk",
        "color": "",
        "bgcolor": "",
        "icon": "fa-volume-up",
        "payload": "Hello to Jason Isaacs",
        "payloadType": "str",
        "topic": "",
        "x": 110,
        "y": 300,
        "wires": [
            [
                "f897d7c2.467a58"
            ]
        ]
    },
    {
        "id": "f897d7c2.467a58",
        "type": "ui_audio",
        "z": "41f61d2.fbe09e4",
        "name": "",
        "group": "30e652f.d9de3ae",
        "voice": "0",
        "x": 300,
        "y": 300,
        "wires": []
    },
    {
        "id": "da0f7e67.0d38a",
        "type": "ui_slider",
        "z": "41f61d2.fbe09e4",
        "name": "",
        "label": "slider",
        "group": "30e652f.d9de3ae",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "",
        "min": 0,
        "max": "100",
        "step": 1,
        "x": 90,
        "y": 140,
        "wires": [
            [
                "799d9318.fd385c"
            ]
        ]
    },
    {
        "id": "eabf2bd7.f4e0c8",
        "type": "ui_slider",
        "z": "41f61d2.fbe09e4",
        "name": "",
        "label": "slider",
        "group": "bbdf3e02.e8fee",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "",
        "min": 0,
        "max": "100",
        "step": 1,
        "x": 90,
        "y": 200,
        "wires": [
            [
                "9f19ee5c.beaef"
            ]
        ]
    },
    {
        "id": "7d549f6e.58ab6",
        "type": "worldmap",
        "z": "41f61d2.fbe09e4",
        "name": "",
        "lat": "",
        "lon": "",
        "zoom": "",
        "layer": "OSM",
        "cluster": "",
        "maxage": "",
        "usermenu": "hide",
        "panit": "true",
        "x": 445,
        "y": 411,
        "wires": []
    },
    {
        "id": "45508d88.744a54",
        "type": "function",
        "z": "41f61d2.fbe09e4",
        "name": "",
        "func": "// create random position\nvar lat = 51 + Math.random() * 0.2;\nvar lon = -1.45 + Math.random() * 0.2;\nmsg.payload={lat:lat, lon:lon, name:\"Mike\", icon:\"male\", url:\"<a href=\\\"/red/ui/#/0\\\">IBM link</a>\"};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 265,
        "y": 411,
        "wires": [
            [
                "7d549f6e.58ab6"
            ]
        ]
    },
    {
        "id": "6ca8cfc2.e0bce",
        "type": "ui_button",
        "z": "41f61d2.fbe09e4",
        "name": "",
        "group": "c75ad4f0.0cede8",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Move Mike",
        "color": "",
        "bgcolor": "#910000",
        "icon": "fa-male",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 103,
        "y": 412,
        "wires": [
            [
                "45508d88.744a54"
            ]
        ]
    },
    {
        "id": "c87aa53d.223ba8",
        "type": "inject",
        "z": "41f61d2.fbe09e4",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": true,
        "topic": "",
        "payload": "/worldmap",
        "payloadType": "str",
        "x": 106,
        "y": 461,
        "wires": [
            [
                "42a56979.e10b68"
            ]
        ]
    },
    {
        "id": "582c9a7e.d9d014",
        "type": "ui_template",
        "z": "41f61d2.fbe09e4",
        "group": "c75ad4f0.0cede8",
        "name": "",
        "order": 2,
        "width": "6",
        "height": "6",
        "format": "<div ng-bind-html=\"msg.payload | trusted\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "x": 436,
        "y": 461,
        "wires": [
            []
        ]
    },
    {
        "id": "42a56979.e10b68",
        "type": "template",
        "z": "41f61d2.fbe09e4",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<iframe src={{{payload}}} height=300px></iframe>",
        "x": 266,
        "y": 461,
        "wires": [
            [
                "582c9a7e.d9d014"
            ]
        ]
    },
    {
        "id": "62bc171d07eca1f7",
        "type": "uibuilder",
        "z": "41f61d2.fbe09e4",
        "name": "",
        "topic": "",
        "url": "pro",
        "fwdInMessages": false,
        "allowScripts": false,
        "allowStyles": false,
        "copyIndex": true,
        "templateFolder": "blank",
        "extTemplate": "",
        "showfolder": false,
        "reload": false,
        "sourceFolder": "src",
        "deployedVersion": "5.0.2",
        "x": 270,
        "y": 40,
        "wires": [
            [],
            []
        ]
    }
]